<template>
    <v-container>
        <v-row class="justify-center">
            <v-col cols="12" md="4" sm="5"  class="text-center" >
                <div class="mt-8 mb-4">
                    <img src="@/assets/images/logos/logoIcon.svg" alt="favicon" />
                    <p class="text-subtitle-1 mt-2 text-13">
                        Designed &amp; Developed by
                        <a href="https://beedataanalytics.com/" class="a_link"  target="_blank">Beedata Analytics</a>
                    </p>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>


<style lang="scss" scoped>
.v-container {
    max-width: 1200px !important;
}
</style>