<script setup lang="ts">
import { ref } from 'vue';
import { RouterLink } from 'vue-router';
const primary = ref('rgb(var(--v-theme-primary))');
const secondary = ref('rgb(var(--v-theme-secondary))');
</script>
<template>
    <div class="logo">
        <RouterLink to="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="122" height="26" fill="none" viewBox="0 0 122 26">
            <path fill="#81D41A" fill-rule="evenodd" d="M1.609.5A1.628 1.628 0 0 0 .462 1 1.65 1.65 0 0 0 0 2.168v14.585c-.002.175.024.35.077.517.386 3.232 2.503 6.043 5.56 7.26a8.867 8.867 0 0 0 9.742-2.176 9.012 9.012 0 0 0 1.608-9.914 8.911 8.911 0 0 0-7.492-5.176V7.26h-.08a8.788 8.788 0 0 0-.977-.001v.001H3.267V2.168A1.654 1.654 0 0 0 2.788.98 1.633 1.633 0 0 0 1.61.501Zm1.658 10.048h6.05a5.62 5.62 0 0 1 4.705 3.273 5.687 5.687 0 0 1-1.017 6.274 5.596 5.596 0 0 1-6.166 1.378 5.658 5.658 0 0 1-3.56-5.252h-.012v-5.673Z" clip-rule="evenodd"/>
            <path fill="#81D41A" d="M27.794 7.35a8.904 8.904 0 0 0-3.037 17.293 8.927 8.927 0 0 0 9.767-2.606 1.635 1.635 0 1 0-2.488-2.123 5.633 5.633 0 0 1-6.713 1.428l8.733-8.726a1.635 1.635 0 0 0 .201-2.444 8.924 8.924 0 0 0-6.463-2.822Zm-.087 3.266a5.63 5.63 0 0 1 2.928.795L22.9 19.14a5.627 5.627 0 0 1-.792-2.76 5.626 5.626 0 0 1 3.51-5.345 5.65 5.65 0 0 1 2.089-.42Z"/>
            <path fill="#9F9F9F" d="M69.885.842a1.673 1.673 0 0 0-1.17.501 1.645 1.645 0 0 0-.471 1.174v4.985h-5.928v.005c-4.877.097-8.846 4.056-8.89 8.913-.046 4.915 3.944 8.985 8.9 9.078 4.636.088 8.56-3.332 9.166-7.796a1.64 1.64 0 0 0 .083-.533V2.517a1.638 1.638 0 0 0-.488-1.191 1.667 1.667 0 0 0-1.202-.484Zm-7.32 9.963h5.679v5.777a1.61 1.61 0 0 0-.004.085c-.092 3.14-2.682 5.588-5.85 5.529-3.168-.06-5.663-2.604-5.634-5.746.03-3.142 2.57-5.64 5.739-5.642a1.5 1.5 0 0 0 .07-.003Z"/>
            <path fill="#81D41A" d="M45.26 7.35a8.904 8.904 0 0 0-3.038 17.292 8.928 8.928 0 0 0 9.768-2.605 1.635 1.635 0 1 0-2.488-2.124 5.633 5.633 0 0 1-6.713 1.429l8.744-8.738a1.635 1.635 0 0 0 .19-2.433A8.924 8.924 0 0 0 45.26 7.35Zm-.088 3.265a5.63 5.63 0 0 1 2.929.795l-7.735 7.73a5.627 5.627 0 0 1-.792-2.76 5.625 5.625 0 0 1 3.51-5.346 5.647 5.647 0 0 1 2.088-.419Z"/>
            <path fill="#9F9F9F" d="M93.734.5a1.623 1.623 0 0 0-1.145.498c-.3.312-.466.732-.46 1.168v14.453c-.005.064-.007.13-.005.194a8.981 8.981 0 0 0 2.832 6.296 8.835 8.835 0 0 0 6.438 2.382 1.615 1.615 0 0 0 1.144-.525 1.637 1.637 0 0 0 .433-1.19 1.644 1.644 0 0 0-1.089-1.477 1.614 1.614 0 0 0-.635-.09 5.588 5.588 0 0 1-4.074-1.506 5.679 5.679 0 0 1-1.788-3.874c.002-.032.002-.063.002-.095v-6.076h6.043a1.623 1.623 0 0 0 1.526-1.008 1.66 1.66 0 0 0-.359-1.803 1.633 1.633 0 0 0-1.167-.473h-6.043V2.166A1.654 1.654 0 0 0 94.91.98 1.628 1.628 0 0 0 93.734.5Zm18.733 7.192c-4.798.011-8.803 3.752-9.032 8.49-.231 4.772 3.447 8.893 8.272 9.304.074.01.149.014.224.014h7.959a1.676 1.676 0 0 0 1.28-.565 1.625 1.625 0 0 0 .385-1.326v-7.346h-.007c-.182-4.671-4.063-8.462-8.852-8.569a9.25 9.25 0 0 0-.229-.002Zm.007 3.272c.049 0 .097 0 .146.002 3.131.07 5.601 2.55 5.607 5.629v5.633h-6.211c-3.093-.252-5.404-2.834-5.257-5.89.147-3.028 2.651-5.368 5.715-5.374ZM81.473 7.692c-4.708.011-8.636 3.752-8.861 8.49-.227 4.772 3.381 8.893 8.115 9.304.073.01.147.014.22.014h7.81a1.629 1.629 0 0 0 1.59-1.187c.065-.229.08-.47.043-.705v-7.345h-.007c-.179-4.671-3.986-8.462-8.685-8.569a8.934 8.934 0 0 0-.225-.002Zm.007 3.272a5.612 5.612 0 0 1 5.644 5.63v5.633H81.03a5.613 5.613 0 0 1-5.157-5.89 5.61 5.61 0 0 1 5.607-5.373Z"/>
            </svg>
        </RouterLink>
    </div>
</template>
